.working {
    display: flex;
    justify-content: center;
    padding-block: 30px;
    .working-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        row-gap: 50px;

        .tech-work {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            .support {
                display: flex;
                flex-direction: column;
                row-gap: 25px;
                height: 250px;
                padding: 30px 25px;
                border-radius: 7px;
                border-top: 7px solid #ff5996;
                box-shadow: 0px 4px 8px rgb(0 0 0/8%);
            }
            .nord-security {
                box-shadow: 0px 4px 8px rgb(0 0 0/8%);
                background-color: #3a6ded;
                color: white;
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                height: 340px;
                border-radius: 8px;

                padding: 30px 25px;
                .upper-part {
                    display: flex;
                    justify-content: center;

                    .variant--Flat {
                        --userLogoColor: #ffffff;
                        // transform: translateX(20%);
                    }
                }
                .bottom-part {
                    color: white;
                    .para {
                        margin-block: 20px;
                        font-size: 14px;
                        color: white;
                    }

                    .author {
                        span {
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }
                    .story {
                        font-weight: 600;
                        font-size: 16px;
                        display: none;
                    }
                }
            }
        }

        .services {
            .left-part {
                margin-block: 30px;
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                .text-cards {
                    display: flex;
                    flex-direction: column;
                    row-gap: 30px;
                }
            }
        }
    }
}

@media only screen and (min-width: 650px) {
    .working {
        display: flex;
        justify-content: center;
        padding-block: 40px;
        .working-container {
            width: 85%;

            .tech-work {
                .support {
                    height: 280px;
                }
                .nord-security {
                    row-gap: 30px;
                    height: 340px;
                }
            }

            .services {
                .left-part {
                    margin-block: 60px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 30px;

                    .text-cards {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        column-gap: 30px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .working {
        display: flex;
        justify-content: center;
        padding-block: 40px;
        .working-container {
            width: 75%;

            .tech-work {
                display: flex;
                flex-direction: row;
                column-gap: 40px;
                .support {
                    flex: 1.6;
                    height: 100%;
                    padding: 50px 20px;
                }
                .nord-security {
                    flex: 1;
                    row-gap: 30px;
                    height: 340px;
                    height: 100%;
                    padding: 50px 20px;
                }
            }

            .services {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 20px;
            }
        }
    }
}
