.finance {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    .global-container {
        width: 90%;
        .header {
            .paragraph {
                margin-block: 15px;
            }
        }

        .global-parts {
            display: flex;
            flex-direction: column;
            row-gap: 50px;
            .all-revenues {
                display: flex;
                flex-direction: column;
                row-gap: 40px;
                .revenue-types {
                    border: 1px solid rgb(197, 197, 197);
                    padding: 50px 10px;
                    border-radius: 10px;
                    background-color: var(--bg-color);
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    row-gap: 40px;

                    .revenue-item {
                        .about-revenue {
                            padding: 0px 20px;
                            display: flex;
                            flex-direction: column;
                            row-gap: 20px;

                            .tags {
                                // padding: 20px 10px;
                                display: flex;
                                //  justify-content: ;
                                gap: 15px;
                                flex-wrap: wrap;
                                .tag-wrapper {
                                    padding: 8px 15px;
                                    background-color: rgba(
                                        225,
                                        225,
                                        225,
                                        0.626
                                    );
                                }
                            }
                        }
                    }
                    .image-wrapper {
                        height: 200px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: -30px;

                        column-gap: 20px;
                        .wrap-svg {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-shadow: 0px 4px 16px rgb(0 0 0/8%);
                            background-color: white;
                            border-radius: 10px;
                            width: 130px;
                            height: 130px;
                        }
                        .pink {
                            background-color: #ffb3c7;
                        }
                        .black {
                            background-color: black;
                        }
                    }
                    .image2 {
                        width: 370px;
                        height: 100%;
                        object-fit: contain;
                        // margin-block: 10px;
                        img {
                            object-fit: contain;
                            background-size: contain;
                        }
                    }
                }
            }

            .all-sponsor {
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                .sponsor {
                    .image-part {
                        margin-block: 30px;
                        border-radius: 5px;
                        border: 1px solid rgb(189, 187, 187);
                        background-color: var(--bg-color);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        max-width: 450px;
                        width: 100%;
                        aspect-ratio: 10/4.5;

                        img {
                            border-radius: 10px;
                        }

                        span {
                            font-weight: 700;
                            color: #ff5a86;
                            font-size: 80px;
                        }
                    }
                    .desc {
                        margin-left: 5px;
                        display: flex;
                        flex-direction: column;
                        row-gap: 9px;
                        .name {
                            font-weight: 600;
                            font-size: 16px;
                            color: rgb(120, 120, 120);
                        }
                        .fame {
                            font-weight: 500;
                            font-size: 15px;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 650px) {
    .finance {
        .global-container {
            width: 80%;
            .header {
                .paragraph {
                    margin-block: 15px;
                }
            }

            .global-parts {
                // width: 80%;
                .all-revenues {
                    .revenue-types {
                        flex-direction: row;

                        .revenue-item {
                            flex: 2;

                            .special-case {
                                margin-top: 0px;
                                background-color: transparent;
                            }

                            // padding: 20px 30px;
                            .about-revenue {
                                width: 90%;
                                row-gap: 30px;

                                .tags {
                                    flex-wrap: wrap;
                                }
                            }
                        }

                        .image-wrapper {
                            flex: 1;
                            flex-direction: column;
                            height: 100%;
                            row-gap: 20px;

                            .wrap-svg {
                                width: 150px;
                                height: 150px;
                            }
                        }
                        .image2 {
                            width: 370px;
                            height: 100%;
                            object-fit: contain;
                            // margin-block: 10px;
                            img {
                                object-fit: contain;
                                background-size: contain;
                            }
                        }
                    }
                }

                .all-sponsor {
                    .sponsor {
                        .image-part {
                            max-width: 720px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .finance {
        .global-container {
            width: 75%;
            .header {
                .paragraph {
                    margin-block: 15px;
                }
            }

            .global-parts {
                flex-direction: row;
                column-gap: 30px;

                .all-revenues {
                    flex: 1;
                    .revenue-types {
                        flex-direction: row;

                        .revenue-item {
                            flex: 2;

                            .special-case {
                                margin-top: 0px;
                                background-color: transparent;
                            }

                            // padding: 20px 30px;
                            .about-revenue {
                                width: 100%;
                                row-gap: 30px;

                                .tags {
                                    flex-wrap: wrap;
                                }
                            }
                        }

                        .image-wrapper {
                            flex: 1;
                            flex-direction: column;
                            height: 100%;
                            row-gap: 20px;

                            .wrap-svg {
                                width: 150px;
                                height: 150px;
                            }
                        }
                        .image2 {
                            width: 500px;
                            // height: 300px;
                            object-fit: contain;
                            // margin-block: 10px;
                            img {
                                width: 100%;
                                height: 100%;
                                // object-fit:none;
                                // background-size:auto;
                            }
                        }
                    }
                }

                .all-sponsor {
                    flex: 1;
                    .sponsor {
                        .image-part {
                            max-width: 720px;
                        }
                    }
                }
            }
        }
    }
}
