.recommendation {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    .recommendation-container {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 90%;
        .left-part {
            display: flex;
            flex-direction: column;
            row-gap: 25px;
        }

        .right-part {
            .list {
                list-style-type: none;
                margin-left: 20px;
                .item {
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    column-gap: 10px;
                    font-size: 15px;
                    margin-block: 15px;
                    color: #425466;
                    font-weight: 500;
                }
            }
        }
    }
}

@media only screen and (min-width: 650px) {
    .recommendation {
        .recommendation-container {
            display: flex;
            flex-direction: row;
            gap: 40px;
            width: 75%;
            .left-part {
                display: flex;
                flex-direction: column;
                row-gap: 25px;
                flex: 4;
            }

            .right-part {
                flex: 1.3;
                flex-wrap: nowrap;
                flex-direction: row;

                .list {
                    margin-left: 0px;
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 40px;
                    .item {
                        width: 220px;
                        margin-block: 7px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .recommendation {
        .recommendation-container {
            flex-direction: row;
            column-gap: 0px;
            width: 75%;
            .left-part {
                display: flex;
                flex-direction: column;
                row-gap: 25px;
                flex: 1.5;
            }

            .right-part {
                flex: 1.3;
                flex-wrap: nowrap;
                flex-direction: row;

                .list {
                    margin-left: 0px;
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 40px;
                    .item {
                        width: 220px;
                        margin-block: 7px;
                    }
                }
            }
        }
    }
}
