:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --purple-color : #635bff;
  --subtext : #425466;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: white;
  color: black;
}

.btn {
  width: 170px;
  font-weight: 600;
  font-size: 16px;
  color: black;
  background-color: #635bff;
  padding: 9px 10px;
  border-radius: 10px;
  border: none;
  color: white;
}

.heading{
  font-weight: 600;
  font-size: 32px;
}

.para{
  font-size: 16px;
  font-weight: 500;
  color: #425466;
  line-height: 25px;
}

.link {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: #635bff;

  &:hover {
    color: #0a2540;
  }
}


.subheading {
  font-size: 22px;
  font-weight: 600;
  color: #0A2540;
}

.paragraph {
  color: #425466;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}