.enterprise {
    .enterprise-wrap {
        height: 100vh;

        background-color: #1b1e3e;
        padding: 40px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title-section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 420px;
            // background-color: red;

            color: white;
            .header-section {
                // padding-inline: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .count {
                    font-weight: 600;
                }

                .btn-wrap {
                    display: flex;
                    width: 80px;
                    // background-color: red;
                    // opacity: 1px black;
                    column-gap: 10px;
                    .btn {
                        border-radius: 50%;
                        background-color: rgba(67, 67, 67, 0.427);
                    }
                }
            }

            .text-section {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: white;

                .title {
                    color: #e3b476;
                    font-size: 100px;
                    font-weight: bold;
                }

                .desc {
                    text-align: center;
                    font-weight: 600;
                    font-size: 22px;
                }
            }
        }
    }
}

@media only screen and (min-width: 650px) {
    .enterprise {
        .enterprise-wrap {
            height: 98vh;

            .title-section {
                width: 100%;
                .header-section {
                    padding-inline: 50px;
                }

                .text-section {
                    .title {
                    }

                    .desc {
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .enterprise {
        .enterprise-wrap {
            padding-block: 60px;
            height: 95vh;

            .title-section {
                width: 90%;
                .header-section {
                    padding-inline: 50px;
                }

                .text-section {
                    // margin-top: -50px;
                    transform: translateY(-50px);
                    .title {
                        font-size: 140px;
                    }

                    .desc {
                        font-weight: 500px;
                        font-size: 26px;
                    }
                }
            }
        }
    }
}
